.vouchers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px;
	background-color: white;
	margin: 0 auto;
	max-width: 1200px;
	display: block;
}

.vouchers_content {
	display: flex;
	width: 100%;
}

.vouchers__text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	max-width: 60%;
}

.vouchers__title-container {
	width: 507px;
	height: 144px;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: 185px;
	margin-left: -155px;
}


.vouchers__title {
	font-size: 48px;
	font-weight: bold;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.vouchers__desc-container {
	max-width: 419px;
	margin-left: -155px;
}

.vouchers__desc {
	font-size: 24px;
	line-height: 1.4;
	word-break: break-word;
	overflow-wrap: break-word;
}

.icons-container {
	display: flex;
	margin-top: 20px;
	align-items: center;
	margin-left: -155px;
}

.app__img,
.google__img {
	width: 236.09px;
	height: 71px;
	margin-right: 10px;
}

.app__img img,
.google__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.vouchers__img {
	max-width: calc(80% * 1.35);
	width: 671px;
	height: 710px;
}

.vouchers__img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: 299px;
}

.highlight {
	display: inline;
}

.highlight span {
	font-size: initial;
	font-weight: initial;
}

@media (max-width: 768px) {
	.vouchers {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.vouchers_content {
		flex-direction: column;
		align-items: center;
	}

	.vouchers__text-wrapper {
		max-width: 100%;
		text-align: center;
	}

	.vouchers__img {
		max-width: 100%;
		margin-top: 20px;
	}

	.vouchers__title-container {
		width: auto;
		height: auto;
	}
}